/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,
body {
  height: 100%;
  width : 100%;
}

body {
  font-family     : 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  color           : white;
  background-color: rgb(8, 5, 37);
}

hr {
  /* border-color: rgb(8, 5, 37); */
  border-color   : white;
  border-width   : 3px;
  max-width      : 50px;
}

hr.light {
  /* border-color: rgba(250, 246, 184, 0.938); */
  /* border-color: white; */
  max-width      : 100%;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition   : all 0.35s;
  transition        : all 0.35s;
  /* color          : rgba(255, 246, 126, 0.918); */
  color             : white;
}

a:hover,
a:focus {
  /* color: #eb3812; */
  color   : #c4eb6b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
  font-size    : 16px;
  line-height  : 1.5;
  margin-bottom: 20px;
}

.header-content hr {
  /* border-color: rgb(8, 5, 37); */
}

.bg-primary {
  background-color: rgb(8, 5, 37);
  /* color        : rgba(255, 246, 126, 0.918); */
  color           : white;
  /* border-bottom: 1px solid rgba(255, 246, 126, 0.918); */
  border-style    : solid;
  border-width    : 1px 0px 1px;
  /* border-color : rgba(255, 246, 126, 0.918); */
  border-color    : rgb(8, 5, 37);
}

@media (max-width: 768px) {
  .about-text {
    font-size: 10px;
  }
}

.bg-services {
  background-color: rgb(8, 5, 37);
  /* color        : rgba(255, 246, 126, 0.918); */
  /* color        : white; */
  border-style    : solid;
  border-width    : 0px 0px 1px;
  /* border-color : rgba(255, 246, 126, 0.918); */
  border-color    : rgb(8, 5, 37);
}

.bg-services hr {
  border-color: white;
}

.bg-dark {
  background-color: rgb(8, 5, 37);
  /* color        : rgba(255, 246, 126, 0.849); */
  /* color        : white; */
  /* border-bottom: 1px solid rgba(255, 246, 126, 0.918); */
  border-style    : solid;
  border-width    : 1px 0px 1px;
  /* border-color : rgba(255, 246, 126, 0.918); */
  border-color    : rgb(8, 5, 37);
}

.bg-contact {
  background-color   : rgb(8, 5, 37);
  /* color           : rgba(255, 246, 126, 0.918); */
  /* color           : white; */
  /* background-image: url('../img/6des.JPG'); */
}

.bg-contact hr {
  border-color: white;
}

.text-faded {
  /* color    : rgba(255, 246, 126, 0.918); */
  /* color    : white; */
  text-align  : justify;
  text-justify: inter-word;
}

.text-muted {
  /* color: rgb(71, 141, 187); */
  color   : white;
}

section {
  padding : 100px 0;
  /* color: rgb(8, 5, 37); */
  /* color: white; */
}

#nuovavenezia {
  background-image   : url('../img/nuovaveneziades.jpg');
  background-size    : cover;
  background-position: center center;
}

@media (min-width: 768px) {
  #nuovavenezia {
    width              : 80%;
    /* height          : 100%; */

  }
}

#giornalevicenza {
  background-image   : url('../img/giornalevicenzades.jpg');
  background-size    : cover;
  background-position: center center;
}

@media (min-width: 768px) {
  #giornalevicenza {
    width              : 80%;
    /* height          : 100%; */

  }
}

#corriereveneto {
  background-image   : url('../img/corrierevenetodes.jpg');
  background-size    : cover;
  background-position: center center;
}

@media (min-width: 768px) {
  #corriereveneto {
    width              : 80%;
    /* height          : 100%; */

  }
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  background-color   : rgb(8, 5, 37);
  /* background-image: url('../img/logo_NL.jpg'); */
  /* border-color    : rgba(255, 246, 126, 0.849); */
  border-color       : rgb(8, 5, 37);
  font-family        : 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition : all 0.35s;
  -moz-transition    : all 0.35s;
  transition         : all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  /* color         : rgba(255, 246, 126, 0.849); */
  color            : white;
  /* font-family   : 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
  /* font-family   : 'Parisienne', cursive; */
  font-family      : 'Pinyon Script', cursive;
  font-size        : 28px;
  font-weight      : 700;
  /* text-transform: uppercase; */
  min-height       : 72px;
  padding          : 30px 15px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  /* color: #eb3812; */
  color   : #c4eb6b;
}

.navbar-default .navbar-header .navbar-toggle {
  font-weight   : 700;
  font-size     : 12px;
  /* color      : rgba(255, 246, 126, 0.849); */
  color         : white;
  text-transform: uppercase;
  margin        : 20px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color               : rgb(8, 5, 37);
  /* background-color : #F05F40; */
  background-color    : white;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-weight   : 700;
  font-size     : 13px;
  /* color      : rgba(255, 246, 126, 0.849); */
  color         : white;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  /* color: #F05F40; */
  color   : #e0ff98;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
  /* color           : #F05F40 !important; */
  color              : #e0ff98 !important;
  background-color   : transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    /* background-color: transparent; */
    /* background-color: rgb(8, 5, 37); */
    /* border-color    : rgba(255, 246, 126, 0.849); */
    /* color           : white; */
  }

  .navbar-default .navbar-header .navbar-brand,
  .navbar-default .navbar-header .navbar-brand:focus {
    /* color  : rgb(215, 255, 140); */
    /* color  : white; */
    font-size : 30px;
    min-height: 80px;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus:hover {
    /* color: #eb3812; */
    color   : #c4eb6b;
  }

  .navbar-default .nav>li>a,
  .navbar-default .nav>li>a:focus {
    /* color   : rgba(255, 246, 126, 0.849); */
    /* color   : white; */
    min-height : 80px;
    padding-top: 28px;
  }

  .navbar-default .nav>li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: rgb(243, 107, 164);
  }

  /* downpage colours */
  .navbar-default.affix {
    /* background-color: rgb(8, 5, 37); */
    /* border-color    : rgba(235, 173, 59, 0.849); */
    /* border-color    : white; */
  }

  .navbar-default.affix .navbar-header .navbar-brand,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    /* color : rgba(230, 255, 89, 0.966); */
    /* color : white; */
    font-size: 25px;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus:hover {
    /* color: #eb3812; */
    color   : #c4eb6b;
  }

  .navbar-default.affix .nav>li>a,
  .navbar-default.affix .nav>li>a:focus {
    /* color: rgba(235, 173, 59, 0.849); */
    /* color: white; */
  }

  .navbar-default.affix .nav>li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: rgb(243, 107, 164);
  }
}

.credits {
  font-family   : 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
}

.society p {
  font-size: 10px;
}

@media (min-width: 768px) {
  .society p {
    font-size: 12px;
  }
}

header {
  position               : relative;
  width                  : 100%;
  min-height             : auto;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  background-size        : cover;
  -o-background-size     : cover;
  background-position    : center;
  /* background-image    : url('../img/header.jpg'); */
  text-align             : center;
  /* color               : rgb(8, 5, 37) */
  background             : rgb(8, 5, 37);
}

header .btn-header {
  margin-top: 153%;
}

@media (min-width: 768px) {
  header .btn-header {
    margin-top: 45%;
  }
}

.tm-logo {
  align-content: center;
  display      : block !important;
  margin       : 0 auto;
  width        : 25% !important;

  margin-left: 38%;
  padding    : 0;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  .tm-logo {
    width      : 10% !important;
    margin-left: 46%;
  }
}

header .header-content {
  position  : relative;
  text-align: center;
  padding   : 100px 15px 100px;
  width     : 100%;
  /* Text positioned in front of backgound images 
	(greater stack order) */
  z-index: 10;
}

header .header-content .header-content-inner h1 {
  font-weight      : 700;
  /* text-transform: uppercase; */
  margin-top       : 0;
  margin-bottom    : 0;
  font-size        : 30px;
  font-family      : 'Playfair Display', serif;
  line-height      : 80px
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  font-weight  : 300;
  /* color     : rgb(8, 5, 37); */
  font-size    : 16px;
  margin-bottom: 100px;
}

/* @media (min-width: 768px) { */
header {
  min-height: 100%;
}

header .header-content {
  /* position         : absolute; */
  position            : relative;
  top                 : 50%;
  -webkit-transform   : translateY(-50%);
  -ms-transform       : translateY(-50%);
  transform           : translateY(-50%);
  padding             : 0 50px;
}

header .header-content .header-content-inner {
  max-width   : 1000px;
  margin-left : auto;
  margin-right: auto;
}

header .header-content .header-content-inner h1 {
  font-size: 40px;
}

header .header-content .header-content-inner p {
  font-size   : 18px;
  max-width   : 80%;
  margin-left : auto;
  margin-right: auto;
}

/* } */
@media (max-width: 768px) {
  header .header-content .header-content-inner h1 {
    font-size  : 25px;
    line-height: 50px
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin   : 50px auto 0;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  position  : relative;
  display   : block;
  max-width : 650px;
  max-height: 225px;
  overflow  : hidden;
  margin    : 0 auto;
}

img.mfp-img {
  max-width : 950px;
  max-height: 563px !important;
  overflow  : hidden;
}

@media (max-width: 768px) {
  .portfolio-box {
    max-height: 168px;
    overflow  : hidden;
  }

  img.mfp-img {
    max-width : 550px;
    max-height: 263px !important;
    overflow  : hidden;
  }
}

.portfolio-box .portfolio-box-caption {
  color                : white;
  opacity              : 0;
  display              : block;
  /* background        : rgba(240, 95, 64, 0.9); */
  background           : rgb(8, 5, 37);
  position             : absolute;
  bottom               : 0;
  text-align           : center;
  width                : 100%;
  height               : 100%;
  -webkit-transition   : all 0.35s;
  -moz-transition      : all 0.35s;
  transition           : all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width     : 100%;
  text-align: center;
  position  : absolute;
  top       : 50%;
  transform : translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family : 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding     : 0 15px;
  text-align  : justify;
  text-justify: inter-word;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight   : 600;
  font-size     : 18px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 10px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 20px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 12px;
  }
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: white;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left : 0;
}

.btn-default {
  color              : rgb(8, 5, 37);
  /* background-color: rgba(255, 246, 126, 0.849); */
  background-color   : white;
  border-color       : white;
  -webkit-transition : all 0.35s;
  -moz-transition    : all 0.35s;
  transition         : all 0.35s;
  margin-bottom      : 40px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color           : white;
  background-color: rgb(8, 5, 37);
  border-color    : #dac8c8;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color    : white;
}

.btn-default .badge {
  color           : white;
  background-color: #222222;
}

.btn-primary {
  /* color             : rgba(250, 246, 184, 0.938); */
  color                : rgb(8, 5, 37);
  background-color     : white;
  /* border-color      : #F05F40; */
  border-color         : #e0ff98;
  -webkit-transition   : all 0.35s;
  -moz-transition      : all 0.35s;
  transition           : all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color              : white;
  background-color   : rgb(8, 5, 37);
  /* border-color    : #ed431f; */
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  /* background-color: #F05F40; */
  /* border-color    : #F05F40; */
  background-color   : #e0ff98;
  border-color       : #e0ff98;
}

.btn-primary .badge {
  /* color           : #F05F40; */
  color              : #e0ff98;
  background-color   : white;
}

.btn {
  font-family   : 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border        : none;
  border-radius : 300px;
  font-weight   : 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  color      : white;
  text-shadow: none;
  background : #222222;
}

::selection {
  color      : white;
  text-shadow: none;
  background : #73af91;
}

img::selection {
  color     : white;
  background: transparent;
}

img::-moz-selection {
  color     : white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: #222222;
}